@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');

.subtitle {
  font-style: italic
}

.ottertalk h1 {
  font-family: qwigley;
  font-size: 4rem;
}

#q1 {
  right: 0;
  bottom: 0;
}

.smaller {
  font-size: 1rem;
}

.wider {
  margin-right: -5%;
  /* margin-left: -5%; */
}


.otters > p > img {
  margin: 0;
}


/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #cccedd;
  border-radius: 25px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1E4287;
  border-radius: 25px;
  border: 1px;
}
